{% extends 'base.html.twig' %}

{% block body %}

<table summary="ligne 1 : les navigateurs, ligne 2 : les pourcentages">
    <caption>Top 5 des navigateurs utilisés sur CSS débutants en décembre 2007<caption>
            <tr>
                <th>Firefox</th>
                <th>Explorer</th>
                <th>Mozilla</th>
                <th>Safari</th>
                <th>Opéra</th>
            </tr>
            <tr>
                <td>49,6 %</td>
                <td>39,4 %</td>
                <td>5,0 %</td>
                <td>2,4 %</td>
                <td>0,9 %</td>
            </tr>
</table>